{
    "logs": [
        {
            "outputFile": "C:\\Users\\hp\\AndroidStudioProjects\\CustomListView\\app\\build\\intermediates\\incremental\\mergeDebugResources\\merged.dir\\values-watch-v21\\values-watch-v21.xml",
    